.navbar-brand {
    margin-left: 2rem;
}
.btn {
    margin-right: 2rem;
}
.cards {
    margin: 1.5rem;
}
.cards:hover {
    background-color: #ececea; 
    transform: scale(1.10);
}
#title {
    font-weight: bold;
}